body{
   
}
.scrollable_width {
	padding: 1.75rem;
	overflow-x: auto;
}
.room_details_section {
    width: 100%;
    margin: 0px -7px 15px;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    position: relative;
} 
.room_details_section > div {
	padding: 0px 7px;
}
.room_details_section > .height_width {
	max-width: unset;
	flex: 0 0 0;
}
.height_width .row.mb-4 .col-md-5 {
	max-width: 150px;
	flex: 0 0 150px !important;
}
.height_width .row.mb-4{
	padding-top: 22px;
	width: 470px !important;
	margin: 0 -7px !important;
}
.height_width .row.mb-4 + .row.mb-4 {
	padding-top: 10px !important;
}
.height_width .row.mb-4 .col-md-5 .row .col-md-6 {
	padding-left: 7px;
	padding-right: 7px;
}
.room_details_section label {
    display: block;
    margin-bottom: 5px;
    line-height: 14px;
}
.room_details_section .form-group.col-md-2:first-child {
	max-width: 80px;
	flex: 0 0 80px !important;
}
.room_details_section .form-group.col-md-2 {
	max-width: 65px;
	flex: 0 0 65px !important;
	padding-top: 22px;
}
.room_details_section .col-md-1:last-child {
	padding-top: 11px;
	padding-left: 7px;
	padding-right: 7px;
}
.room_details_section .height_width .row.mb-4 .col-md-1:last-child {
	flex: 0 0 20px;
	max-width: 20px;
	color: #ef233c;
	font-weight: bold;
	}
.room_details_section .col-md-1:last-child span.delete_room {
	color: #ef233c;
	font-weight: bold;
}
.window_section.row + .window_section.row {
	padding-top: 10px;
} 
.row.sevenk .row + .row {
    padding-top: 28px;
}
.height_width_sec_0.col-md-2, .sixk {
	padding-top: 22px;
	max-width: 180px !important;
	flex: 0 0 180px !important;
}
.sixk {
     max-width: 16.67%;
}
.room_details_section .form-group.col-md-2 label {
	display: none; 
}
.rooms_section {
	position: relative;
}
.delete_room {
	position: absolute;
	top: 10px;
	right: 0;
	border-radius: 50px;
	color: white;
	background: #ef233c;
	padding: .25rem .75rem .25rem .75rem;
	font-size: 0;
	line-height: 18px;
	height: 25px;
}
.delete_room:after {
	content: 'Delete';
	font-size: 12px;
}
.room_details_section .form-group.col-md-2:first-child {
	width: 80px !important;
}
.room_details_section .form-group.col-md-2:before {
	content: 'No';
}
.room_details_section .form-group.col-md-2:first-child:before {
	content: 'Room';
}
.room_details_section .twok, .room_details_section .form-control {
	width: 100%;
	padding: 10px 5px;
}
.sevenk {
	max-width: 345px;
	flex: 0 0 345px !important;
}
.sevenk .row.sevenk {
	max-width: 331px;
	flex: 0 0 331px !important;
}
.row.sevenk {
	clear: both;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
}
.form-group.col-md-1.add_category_section_0 {
	max-width: 125px;
}
.window_section.row, .row.window_1_section {
	margin-left: -7px;
	margin-right: -7px;
}
.window_section.row div, .row.window_1_section div {
	padding-left: 7px;
	padding-right: 7px;
	max-width: 65px !important;
}
.window_section.row .col-sm-2 label:last-child {
	display: block;
	text-align: center;
	padding-top: 10px;
        color: #ef233c;
	font-weight: bold;
}
.select_category {
    padding: 5px 10px;
    background: #145388;
    color: #fff;
    border-radius: 3px 20px 20px 3px;
}
.room_details_section .select_category select.form-control {
    width: auto;
    height: auto;
    padding: 0px;
    border: 0;
    background: transparent;
    color: #fff;
}
.room_details_section .select_category select.form-control option {
    color: #000;
}
.add_category_bt {
      margin-top: 20px;
}
.simple-icon-close {
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 9px;
    color: #ef233c;
    font-weight: bold;
}
.upcharge_btn {
        line-height: 36px;
}
.sevenk .row.sevenk .row {
	margin-left: -7px;
	margin-right: -7px;
}
.sevenk .row.sevenk .row .col-sm-3 {
	padding-left: 7px;
	padding-right: 7px;	
}#cartItems table tr td:nth-child(3) {	white-space: nowrap;}