
.field-icon{
     float: right;
    margin-right: 5%;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 20px;
}
.password_generate_btn{
    float: right;
    margin-right: -35%;
    margin-top: -38px;
    position: relative;
    z-index: 2;
}
@media only screen and (max-width: 580px) {
	.password_input {
		position: relative;
	}
	.password_input input.form-control {
		width: 45%;
		margin: 0 2.5% 0 0;
		float: left;
	}
	.password_input input.password_generate_btn {
		width: 45%;
		margin: 0 0 0 2.5%;
		float: left;
	}
	.field-icon {
		right: 52%;
    position: absolute;
    margin-top: 13px;
	}
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: #fff !important;
    background-color: #fff !important;
    background: #fff !important;
}
.disabled .page-link {
    border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    outline: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    box-shadow: none !important;
}

/* Favorites : START */

.notfavorite_icon .star-icon,
.favorites_icon .star-icon {
    font-size: 28px;
    padding: 9px;
    color: #f0f0f07a;
    text-shadow: 0 0 1px #666666;
}

.notfavorite_icon .star-icon:hover,
.favorites_icon .star-icon {
    color: #F4B30A;
    text-shadow: 0 0 1px #F48F0A;
}

.star-icon:before, .sidebar-star-icon:before{
    content: "\2605";
}

.sidebar-star-icon{
    padding-top: 12%;
    font-size: 28px;
    color: white;
}

.fav-remove-icon:before{
    content: "\00d7";
}

.favorite-div#favorite-main-div {
    position: fixed;
    right: -280px;
    top: 150px; /* 50% for center */
    z-index: 1000;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.favorite-div {
    text-align: left;
    width: 330px;
}

.favorite-div .favorite-div-header {
    width: 330px;
    padding-right: 40px;
    height: 55px;
    color: #fff;
    background: #6e6e6e;
    position: relative;
}

.favorite-div .favorite-div-header .style-toggle {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.favorite-div .favorite-div-header .style-toggle>.fa {
    color: #fff;
}

.favorite-div .favorite-div-header .style-main-title {
    float: right;
    margin: 0;
    line-height: 55px;
    color: #fff;
    text-transform: uppercase;
}

.favorite-div .favorites-content-main {
    width: 270px;
    background: #b3b3b3;
    padding: 15px 15px;
    margin-left: 60px;
    overflow-y: auto;
    height: auto;
    max-height: 760px;
    overflow-x: hidden;
}

.favorite-div#favorite-main-div.opened {
    right: 0;
}

#favorites-sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#favorites-sortable li {
    margin: 0 3px 3px 3px;
    padding: 12px 5px;
    font-size: 1.4em;
    height: 50px;
    width: 236px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.ui-icon {
    width: 16px;
    height: 16px;
}
.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

#favorites-sortable a{
    color: #454545;
    text-decoration: none;
    padding-right: 5px;
}

.fav-action {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: -3px; 
}

.fav-action-div {
    position: relative;
    display: block;
}

.input_title{
    margin-top: -8px;
}

.page_url_cls {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:188px;
    display:inline-block;
}

@media only screen and (min-width: 576px) {
    .dashboard-favorites{
        padding-left: 9px;
        position: absolute;
        top: -2px;
        z-index: 222;
        right: 0px;
        left: 285px;
    }
}

.favorites-content-main::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.favorites-content-main::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.favorites-content-main::-webkit-scrollbar-thumb
{
	background-color: #6e6e6e;
}
/* Favorites : END */
.customer-return-table td a{
    color: #007bff !important;
}

.sidebar .main-menu {
    background: #2f4f4f !important;
}
.sidebar .main-menu ul li a {
    color: #fff !important;
}
.sidebar .main-menu ul li.active:after {
    background-color: #795548 !important;
}
.sidebar .main-menu ul li a:hover {
    color: #2f4f4f !important;
}
.sidebar .main-menu ul li a:focus {
    background: #2f4f4f !important;
    color: #FFF !important;
}