html {
  width: 100%;
}

body {
  overflow-x: hidden !important;
}

body#app-container.menu-default {
    position: inherit!important;
}
/* Hide everything under body tag */
body.show-spinner > *{
  opacity: 0;
}

/* Spinner */
body.show-spinner::before{
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}
.search_div button {
	width: 90px;
	float: right;
	margin-left: 15px;
}
.search_div label{
	width: auto;
	float: right;
}
.search_div input {
	width: 150px;
	float: right;
	margin-left: 15px;
}

.w-220{
    width: 220px;
}
.w-270{
    width: 270px;
}
.table th, .table td{
    vertical-align: middle;
    text-align: center;
}
.user .dropdown-item i{
    margin-right: 8px;
}
.dropdown-item {
    padding: 7px 25px;
    color: #212121;
    font-size: 14px;
}
.customer-form-side{
    padding: 50px;
}
.sidebar .sub-menu ul li .menu-link i {
    margin-left: 5px;
    font-size: 10px;
    margin-right: 0;
    vertical-align: middle;
}
.address_bar{
    border: 1px solid #ddd;
    padding: 10px;
}
.table tbody tr td .btn{
    border-radius: 0;
    line-height: 20px;
}

/*** Tree View
==============================================================================*/

.well {
    height: 135px;
    box-shadow: none;
}

.tree,
.tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 1em;
    position: relative
}

.tree ul ul {
    margin-left: .5em
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #4C4C4C;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0
}

.indicator {
    margin-right: 5px;
    color: #000;
    font-weight: 600;
}

.tree li a {
    text-decoration: none;
    color: #4C4C4C;
}

.tree li button,
.tree li button:active,
.tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.nav-tabs{
    border-bottom: 0;
}

.nav-tabs li a{
    padding: 15px 25px;
    display: inline-block;
}

.nav-tabs li a.active{
    border: 1px solid #ddd;
    border-bottom: 0;
}

.tab-content{
    padding: 25px;
    border: 1px solid #ddd;
}

.form_m_width,
.form-fix-width{
    max-width: 720px;
    margin: 0 auto;
}

.form_m_width .form-group label{
    font-size: 14px;
}

.f-14{
    font-size: 14px;
}

.qty_input{
    text-align: center;
    width: 70px;
}

.sub, .add{
    background: #fff;
    border: 1px solid #a9a9a9;
}

.navbar .icon-menu-item{
    vertical-align: top;
}

.table-fixed-width{
    width: auto;
    float: right;
}

select.form-control.inner_table {
    max-width: 140px;
    margin: 0 auto;
}

.btn.btn-linear{
    background: #fff;
    border: 1px solid #ddd;
}

@media (min-width: 767px){
    .modal-dialog {
        max-width: 700px;
    }
}

.navbar .icon-menu-item span{
    display: block;
}

.top-right{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 0;
}

.fixed_item{
    border: 1px solid #ddd;
    padding: 15px;
}


.navbar .header-icon#notificationButton:after{
    display: none;
}

.navbar .header-icon#notificationButton .n-count{
    font-size: 10px;
    color: #145388;
    border: 1px solid #145388;
    border-radius: 10px;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: 700;
    top: -2px;
    right: 0px;
    line-height: 18px;
}

.right_checkbox {
	white-space: nowrap;
}
.right_checkbox input {
	margin-left: 0.75rem;
}
.theme-button {
	display: none;
}
@media only screen and (max-width: 580px) {
	.col-form-label.text-right {
		text-align: left !important;
	}
}
