.pac-container:after {
    content: none !important;
}

.not_found {}

.checkbox_area {
    font-size: 13px;
    overflow: scroll;
    min-height: 80px;
}

.field-icon{
    right: 25px;
    top: 10px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.password_generate_btn {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.file_type_cls {
    color: green;
    /*letter-spacing: 2px;*/
    margin-bottom: 15px;
}

/* .barcode-image img {
    width: 100% !important;
} */

.loader-wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: url('/bms-link/assets/b_level/resources/images/ajax-loader.gif') 50% 50% no-repeat;
    background-color: rgba(0, 0, 0, 0.37);
}

table tbody tr.color-green td {
    background: #77b16c !important;
}

table tbody tr.color-orange td {
    background: #e2a533 !important;
}

.m-0 {
    margin: 0px !important;
}

.order-list-sucess-msg {
    display: inline-block;
    line-height: 9px;
}


/* Datatable : START  */

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    padding: 10px 0;
}

.dataTables_filter input {
    width: 150px;
    padding: .375rem .75rem;
    font-size: 12px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-right: 5px;
}

.dataTables_filter input:focus {
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.dataTables_wrapper table.dataTable thead .sorting_desc {
    background-image: url(../images/sort_desc.png) !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
}

.dataTables_wrapper table.dataTable thead .sorting_asc {
    background-image: url(../images/sort_asc.png) !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
}

.dataTables_wrapper table.dataTable thead .sorting {
    background-image: url(../images/sort_both.png) !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
}


/* Datatable : END  */


/* Favorites : START */

.notfavorite_icon i,
.favorites_icon i {
    font-size: 20px;
    padding: 9px;
    color: #f0f0f07a;
    text-shadow: 0 0 1px #666666;
}

.notfavorite_icon i:hover,
.favorites_icon i {
    color: #F4B30A;
    text-shadow: 0 0 1px #F48F0A;
}

.favorite-div#favorite-main-div {
    position: fixed;
    right: -280px;
    top: 150px; /* 50% for center */
    z-index: 1000;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.favorite-div {
    text-align: left;
    width: 330px;
}

.favorite-div .favorite-div-header {
    width: 330px;
    padding-right: 40px;
    height: 55px;
    color: #fff;
    background: #6e6e6e;
    position: relative;
}

.favorite-div .favorite-div-header .style-toggle {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.favorite-div .favorite-div-header .style-toggle>.fa {
    color: #fff;
}

.favorite-div .favorite-div-header .style-main-title {
    float: right;
    margin: 0;
    line-height: 55px;
    color: #fff;
    text-transform: uppercase;
}

.favorite-div .favorites-content-main {
    width: 270px;
    background: #b3b3b3;
    padding: 15px 15px;
    margin-left: 60px;
    overflow-y: auto;
    height: auto;
    max-height: 760px;
    overflow-x: hidden;
}

.favorite-div#favorite-main-div.opened {
    right: 0;
}

#favorites-sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#favorites-sortable li {
    margin: 0 3px 3px 3px;
    padding: 15px 5px;
    font-size: 1.4em;
    height: 50px;
    width: 236px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.ui-icon {
    width: 16px;
    height: 16px;
}
.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

#favorites-sortable a{
    color: #454545;
    text-decoration: none;
    padding-right: 5px;
}

.fav-action {
    display: inline-block;
    position: absolute;
    right: 0;    
}

.fav-action-div {
    position: relative;
    display: block;
}

.input_title{
    margin-top: -6px;
}

.page_url_cls {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:188px;
    display:inline-block;
}

@media only screen and (min-width: 576px) {
    .dashboard-favorites{
        padding-left: 9px;
        position: absolute;
        top: -2px;
        z-index: 222;
        right: 0px;
        left: 285px;
    }
}

.favorites-content-main::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.favorites-content-main::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.favorites-content-main::-webkit-scrollbar-thumb
{
	background-color: #6e6e6e;
}
/* Favorites : END */