
h3 {
    font-size: 30px;
    line-height: 50px;
    margin: 0 0 28px;
	text-align: center;
}
ul {
    list-style: outside none none;
}
ul, h4{
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#paymentForm {
    float: none;
}
#paymentForm, .cardInfo {
    background-color: #f9f9f7;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    left: 0;
    margin: 20px auto 0;
    padding: 10px 10px;
    max-width: 320px;
}
#paymentForm li {
    margin: 8px 0;
}
#paymentForm label {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 400;
}
#paymentForm #card_number {
    background-image: url("images.png"), url("images.png");
    background-position: 2px -121px, 260px -61px;
    background-repeat: no-repeat;
    background-size: 120px 361px, 120px 361px;
    padding-left: 54px;
    width: 225px;
}

#paymentForm input {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: content-box;
    color: #333;
    display: block;
    font-size: 18px;
    height: 32px;
    padding: 0 5px;
    width: 275px;
	outline: none;
}
#paymentForm input::-moz-placeholder {
    color: #ddd;
    opacity: 1;
}

#paymentForm li .help {
    color: #aaa;
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    padding-top: 14px;
}
.vertical {
    overflow: hidden;
}
.vertical li {
    float: left;
    width: 95px;
}

#paymentForm .vertical input {
    width: 80px;
}

#paymentForm .required{border: 1px solid #EA4335;}
#paymentForm .cardInfo p span{color: #FB4314;}