.pac-container:after{
    content:none !important;
}
.not_found{

}
.checkbox_area{
    font-size: 13px;
    overflow: scroll;
    min-height: 80px;
}
.field-icon{
    float: right;
    margin-right: 35%;
    margin-top: -23px;
    position: relative;
    z-index: 2;
    cursor:pointer;
}
.password_generate_btn{
    float: right;
    margin-right: 15%;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    cursor:pointer;
}
.file_type_cls{
    color: green;
    /*letter-spacing: 2px;*/
    margin-bottom: 15px;
}